.terminal-bg {
  background-color: rgb(30, 25, 25);;
  color: #ccc;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  width: 100vw;
  height: calc(100vh - 5vh); /* Full height minus TopBar height */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.terminal-window {
  flex-grow: 1;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 1em;
  text-align: left;
}

.terminal-input {
  background-color: transparent;
  border: none;
  color: #ccc;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  width: 100%;
}

.terminal-input-prompt {
  white-space: nowrap;
  overflow-x: clip;
}

.terminal-prompt {
  color: #00ff00;
}
.terminal-prompt-old {
  color: #008000; /* Dark Green */
}